---
---

@import "{{ site.theme }}";

header {
	position: unset;
	float: unset;
}
footer {
	position: unset;
	float: unset;
}
section {
	width: unset;
	float: unset;
}

.faq .summary {
	font-weight: bold;
}
